body {
  font-family: Arial, sans-serif;
  background-color: #E4EEF0;
  color: #0a2472;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #0a2472;
  color: white;
  padding: 12px;
}

.form-section {
  margin: 10px auto;
  width: 90%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #FE7F2D;
  border-radius: 8px;
  font-size: 16px;
}

#map {
  height: 400px;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  border: 3px solid #0a2472;
  border-radius: 12px;
}
